<div class="description">
  <section class="rating">
    <span class="callout gloss">Science Fiction</span>
    <span class="callout gloss">2018</span>
    <span class="callout gloss">8.7/10</span>
  </section>
  <section class="paragraph">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
      aspernatur, mollitia corporis dolores nam commodi quo accusantium
      laboriosam voluptas eum. Optio, possimus sit iusto magni qui, debitis sint
      iste, explicabo amet adipisci officiis! Harum quidem eos repellat officiis
      culpa. Maiores cupiditate nisi placeat quos ab expedita cumque consectetur
      eaque deleniti.
    </p>
  </section>
  <section class="buttons">
    <button class="btn btn--solid gloss">
      <i class="fa-solid fa-play"></i> Play
    </button>
    <button class="btn btn--outline gloss">See More</button>
  </section>
</div>
